*{
    margin: 0;
    padding: 0;
}
.Ahmadullo_text-img{
    margin-left: 80px;
}
.Ahmadullo_banner_main {
    margin-bottom: 20px;
    background: #222831;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.Ahmadullo_d_flex {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   
}
.Ahmadullo_text-bg {
    margin-top: -500px;
    margin-right: 200px;
    max-width: 542px;
    float: right;
    width: 100%;
    margin-left: 40px;
}

.Ahmadullo_text-bg span {
    color: #fff;
    font-size: 50px;
    line-height: 55px;
    font-weight: 500;
}

.Ahmadullo_text-bg h6 {
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    padding: 20px 0;
}

.Ahmadullo_text-bg a {
    font-size: 16px;
    background-color: #FFBE33;
    color: #fff;
    padding: 13px 0px;
    width: 100%;
    max-width: 190px;
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 25px;
}

.Ahmadullo_text-bg a:hover {
    background-color: #5502bb;
    color: #fff;
}



