* {
    margin: 0;
    padding: 0;
}

#img1 {
    width: 160px;
    height: 160px;
    border-radius: 360px;
    /* border: 5px solid #FFBE33; */
}

#img2 {
    width: 160px;
    height: 160px;
    border-radius: 360px;
    /* border: 5px solid #FFBE33; */
}

.for-border1 {
    width: 160px;
    height: 160px;
    border-radius: 360px;
    border: 5px solid #FFBE33;
    display: inline-block;
    background-image: url("https://technext.github.io/feane/images/o1.jpg");
    background-size: cover;
    background-position: center;
}

.for-border1:hover {
    background-size: 180px !important;
    transform: background 2s;
}

.for-border2 {
    width: 160px;
    height: 160px;
    border-radius: 360px;
    border: 5px solid #FFBE33;
    display: inline-block;
    background-image: url("https://technext.github.io/feane/images/o2.jpg");
    background-size: cover;
    background-position: center;
}

.for-border2:hover {
    background-size: 180px !important;
    transform: image 2s;
}

#img1:hover {
    width: 170px;
    height: 170px;
    margin-top: -10px;
    margin-left: -10px;
}

#img2:hover {
    width: 170px;
    height: 170px;
    margin-top: -10px;
    margin-left: -10px;
}

#div1 {
    display: flex;
    width: 50%;
    height: 175px;
    border-radius: 5px;
    padding: 20px 15px;
    background: #222831;
}

#div2 {
    display: flex;
    width: 50%;
    height: 175px;
    border-radius: 5px;
    padding: 20px 15px;
    background: #222831;
}

#ota {
    width: 80%;
    display: flex;
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
}

#but {
    margin-top: 10px;
    font-size: 18px;
    background: #DFA62D;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 22px;
    display: flex;
}

#but i {
    color: white;
    font-size: 17px !important;
    margin: 1px 0px 0px 5px;
}

#but:hover {
    margin-top: 10px;
    font-size: 18px;
    background: #c99017;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 22px;
}